body {
  font-family: 'Roboto Mono', monospace;
  background-color: lightgray;
  color: darkgoldenrod;
}

.info {
  color: darkgoldenrod;
  border: 1px solid darkgoldenrod;
  margin: 5px;
  padding: 5px;
  border-radius: 0px;
  width: 10%;
}

#email {
  font-weight: bold;
}

#profile-pic {
  width: auto;
  height: 250px;
}

@media (max-width: 500px) {
  .info {
    width: 90%;
  }
}