body {
  font-family: 'Roboto', sans-serif;
  background-color: cadetblue;
}

.info {
  color: white;
  border: 1px solid white;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}

#email {
  font-weight: bold;
}

#profile-pic {
  width: auto;
  height: 250px;
}

@media (max-width: 500px) {
  .info {
    width: 90%;
  }
}